:root {
    --squares_color: grey;
}

input {
    border-radius: 30px;
    width: 600px;
    height: 40px;
    border-width: 1px;
    border-color: rgb(201, 197, 197);
    outline: none;
    text-indent: 50px;
    text-align: initial;
    font-size: 18px;
    background: url(images/magnifying_glass.png) no-repeat scroll, url(images/mic.png) no-repeat right scroll;
    background-size: 30px;
    background-position-y: center;
}

input:hover, input:focus{
    padding: 2px;
    margin: 2px;
    border-color: rgb(231, 223, 223);
}

#logo {
    display: block;
    margin: 50px auto auto auto;
}

#search{
    display: block;
    margin: auto;
}

.topNavbar{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

#boxes {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
}

.square{ 
    background: var(--squares_color); 
    width: 5px; 
    height: 5px;
}

#boxes:hover{ 
    --squares_color: black;
}

#sign_in {
    margin: -5px 20px 0 20px;
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    padding: 5px 12px;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}