:root {
    --squares_color: grey;
}

input {
    border-radius: 30px;
    width: 600px;
    height: 30px;
    border-width: 1px;
    border-color: rgb(201, 197, 197);
    outline: none;
    text-indent: 50px;
    text-align: initial;
    font-size: 18px;
    background: url(images/magnifying_glass.png) no-repeat scroll;
    background-size: 30px;
    background-position-x: 10px;
    background-position-y: center;
}

input:hover, input:focus{
    box-shadow: 0 0 2pt 1pt rgb(230, 230, 230);
}

#logo {
    display: block;
    margin: 75px auto auto auto;
}

#search{
    display: block;
    margin: auto;
}

.topNavbar{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#boxes {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
}

.square{ 
    background: var(--squares_color); 
    width: 5px; 
    height: 5px;
}

#boxes:hover{ 
    --squares_color: black;
}

#sign_in {
    margin: -5px 20px 0 20px;
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    padding: 5px 12px;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

.belowBar {
    display: flex;
    margin-top: 30px;
    column-gap: 15px;
    justify-content: center;
}

.belowBar a {
    background-color: #f2f2f2;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.belowBar a:hover{
    box-shadow: 0 0 2pt 1pt lightgray;
    background-image: none;
    background-color: rgb(247, 247, 247);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #eeeeee;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    outline: solid lightgrey 1px;
    right: 0;
}

.footer a {
    margin-top: 8px;
}

